.myBtn:hover{
    background-color : #ff8c1a;
    box-shadow: 2px 2px #804000;
}
.myBtn:focus{
    background-color : #ff8c1a;
    box-shadow: 2px 2px #804000;
}
.myBtn {
    background-color : #ff8c1a;
    color : white;
    border-width : 0px;
}